*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
  min-height: 100vh;
  max-height: 100%;
  background-color: black;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  font-size: 1.5rem;
  background-color: #333;
  padding: 2em;
}

h2,
p.main-para {
  padding: 1em;
}

button {
  font-family: inherit;
  border-radius: 10px;
  font-size: 2rem;
  padding: 0.8em 1.2em;
  margin: 5px 5px;
  background-color: #99a98f;
}

button:hover {
  background-color: whitesmoke;
}

.scoreboard-container {
  display: flex;
  justify-content: center;
  gap: 1em;
}

/* score and final result */
#player-score,
#computer-score {
  color: #333;
  font-size: 1.5rem;
}

.result-para {
  color: #a6ff96;
  font-size: 1.5rem;
}

/* footer */
footer {
  font-size: 1rem;
  padding: 1em;
  background-color: #333;
}
